@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
project1.html{
    background:linear-gradient(315deg, #ffffff, #d7e1ec);
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    /* background: black; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #111;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #111;
}
.navbar.sticky .menu li a:hover{
    color: black;
}

.navbar .menu li i{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 2px;
    transition: color 0.3s ease;
}
.navbar .menu li i:hover{
    color: #111;
    cursor: pointer;
}
.navbar.sticky .menu li i:hover{
    color: black;
    cursor: pointer;
}


/* menu btn styling */
.menu-btn{
    color:#fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background: url("images/frozenbanner.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Roboto', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Ubuntu', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:  #111;
    transform: translateX(-50%);
    
}
/*.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:  #fff;
    transform: translateX(-50%);
}*/
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;  
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease; 
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* projects section styling */

section{
    
    padding: 100px 0;
    
}
.projects{
    font-family: 'Ubuntu', sans-serif;
    
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    
}
.projects .title{
    color: #111;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.projects .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:  #111;
    transform: translateX(-50%);
}
.projects .projects-content{
    display: flex;
    flex-wrap: wrap;
    
}

.projects .projects-content .left{
    width: 50%;
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    
}

.projects .projects-content .left img{
    opacity: 1;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
    
    transition: 0.5s ease;
}
.projects .projects-content .left :hover{
    opacity: 0.5;
}
.projects .projects-content .left a:link{
    color: #111;
}
.projects .projects-content .left a:visited{
    color: #111;
}
.projects .projects-content .mid{
    width: 50%;
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    
}
.projects .projects-content .mid img{
    opacity: 1;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
    
    transition: 0.5s ease;
}
.projects .projects-content .mid :hover{
    opacity: 0.5;
}
.projects .projects-content .mid a:link{
    color: #111;
}
.projects .projects-content .mid a:visited{
    color: #111;
}
.projects .projects-content .right{
    width: 50%;
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    
}
.projects .projects-content .right img{
    opacity: 1;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
    
    transition: 0.7s ease;
    
}
.projects .projects-content .right :hover{
    opacity: 0.5;
}
.projects .projects-content .right a:link{
    color: #111;
}
.projects .projects-content .right a:visited{
    color: #111;
}

/* contact section styling */
section{
    padding: 100px 0;
}
.contact{
    font-family: 'Ubuntu', sans-serif;
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:  #111;
    transform: translateX(-50%);   
}
.contact .email{    
    font-size: 20px;
}

.contact .wrapper{
    
    display: inline-flex;
}
.contact .wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.contact .wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.contact .wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.contact .wrapper .icon:hover span{
    color: #fff;
}
.contact .wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.contact .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.contact .wrapper .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);

}
.contact .wrapper .icon:hover span,
.contact .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.contact .wrapper .twitter:hover span,
.contact .wrapper .twitter:hover .tooltip,
.contact .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
}
.contact .wrapper .instagram:hover span,
.contact .wrapper .instagram:hover .tooltip,
.contact .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
}
.contact .wrapper .itch:hover span,
.contact .wrapper .itch:hover .tooltip,
.contact .wrapper .itch:hover .tooltip:before{
    background: #fa5c5c;
}

/* project1 start */

section{
    padding: 100px 0;
}
.project1{
    font-family: 'Ubuntu', sans-serif;
}
.project1 h2{
    font-family: 'Roboto', sans-serif;
}
.project1 .project1-content{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    grid-gap: 90px 90px;
    
}
.project1 .project1-content .left{
    width: 30%;
}
.project1 .project1-content .left a:link{
    color: #111;
    transition: 0.7s ease;
}
.project1 .project1-content .left a:visited{
    color: #111;
    transition: 0.7s ease;
}
.project1 .project1-content .left a:hover{
    text-decoration: underline;
    opacity: 0.5;
}
.project1 .project1-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.project1 .project1-content .right{
    flex: 30%;
    padding: 0 4px;
    
    
}
.project1 .project1-content .right img{
    margin-top: 8px;
    vertical-align: middle;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
    
    
    
}
.project1 .project1-content .sketchfab-embed-wrapper{
    object-fit: cover;
    height: 400px;
    width: 400px;
    
}


/* .project1 .project1-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}
.project1 .project1-content .right .text span{
    color: crimson;
}
.project1 .project1-content .right p{
    text-align: justify;  
}
.project1 .project1-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease; 
} */
.projects2{
    font-family: 'Ubuntu', sans-serif;
    
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    
}
.projects2 .title{
    color: #111;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.projects2 .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:  #111;
    transform: translateX(-50%);
}
.projects2 .img-containerOS{
    display: flex;
    background: url("images/bathbanner.png") no-repeat center;
    background-size: cover;
    height: 20vh;
    color: #fff;
    min-height: 50px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease;
}

.projects2 .img-containerOS .inner-containerOS{
    display: flex;
    justify-content: center;
    text-align: center;
    position: center;
    width: 100%;
    color: white;
    
    padding: 50px 0;
    font-size: 25px;
    transition: 0.5s ease;
}
.projects2 .img-containerOS:hover{
    height: 40vh;
    min-height: 100px;
    opacity: 0.5;
}
.projects2 .img-containerOS .inner-containerOS:hover{
   
    padding: 100px 0;
    font-size: 50px;
}


.projects2 .img-containerCS{
    display: flex;
    background: url("images/clownbanner.png") no-repeat center;
    background-size: cover;
    height: 20vh;
    color: #fff;
    min-height: 50px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease;
}

.projects2 .img-containerCS .inner-containerCS{
    display: flex;
    justify-content: center;
    text-align: center;
    position: center;
    width: 100%;
    color: white;
    
    padding: 50px 0;
    font-size: 25px;
    transition: 0.5s ease;
}
.projects2 .img-containerCS:hover{
    height: 40vh;
    min-height: 100px;
    opacity: 0.5;
}
.projects2 .img-containerCS .inner-containerCS:hover{
   
    padding: 100px 0;
    font-size: 50px;
}


.projects2 .img-containerFP{
    display: flex;
    background: url("images/frozenplanetbanner.png") no-repeat center;
    background-size: cover;
    height: 20vh;
    color: #fff;
    min-height: 50px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease;
}

.projects2 .img-containerFP .inner-containerFP{
    display: flex;
    justify-content: center;
    text-align: center;
    position: center;
    width: 100%;
    color: white;
    
    padding: 50px 0;
    font-size: 25px;
    transition: 0.5s ease;
}
.projects2 .img-containerFP:hover{
    height: 40vh;
    min-height: 100px;
    opacity: 0.5;
}
.projects2 .img-containerFP .inner-containerFP:hover{
   
    padding: 100px 0;
    font-size: 50px;
}


.projects2 .img-containerCY{
    display: flex;
    background: url("images/cyborgbanner.png") no-repeat center;
    background-size: cover;
    height: 20vh;
    color: #fff;
    min-height: 50px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease;
}

.projects2 .img-containerCY .inner-containerCY{
    display: flex;
    justify-content: center;
    text-align: center;
    position: center;
    width: 100%;
    color: white;
    
    padding: 50px 0;
    font-size: 25px;
    transition: 0.5s ease;
}
.projects2 .img-containerCY:hover{
    height: 40vh;
    min-height: 100px;
    opacity: 0.5;
}
.projects2 .img-containerCY .inner-containerCY:hover{
   
    padding: 100px 0;
    font-size: 50px;
}



/* responsive media query start */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
     }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
      .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;      
    }
}

@media (max-width: 500px){
      .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}
